.App {
  margin: 20px 40px;
  width: 100%;
}

.display {
  padding: 5px 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 500;
}

.display:hover {
  cursor: pointer;
}

.filterBox {
  position: absolute;
  background: white;
  height: 70px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px 20px;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 10px;
  color: gray;
  font-weight: 500;
  select {
    padding: 3px 5px;
    width: 100px;
    font-weight: 600;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

.kanban-board {
  display: flex;
  flex-direction: row;
}

.column {
  min-width: 350px;
  margin-right: 40px;
}

.columnBox {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: baseline;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  display: flex;
  gap: 10px;
  width: 40px;
}

.columnIcon {
  width: 20px;
  height: 20px;
}

.card {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.card:hover {
  cursor: pointer;
  background-color: #eee;
}

.cardTag {
  margin-right: 10px;
  height: 20px;
  width: 20px;
}

.card-title {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 10px;
  h4 {
    margin-top: 0;
  }
}

.card-id,
.card-tag {
  color: gray;
}
